<div class="jumbotron">
  <h1>Animal Hero</h1>
  <p>
    Sua pagina para ajudar os animais de ruas, cadastre sua <strong>ONG</strong> jรก!
  </p>
  <p>
    <a href="/ongs/new" class="btn btn-primary btn-lg">Crie sua ong</a>
  </p>
</div>