<div class="jumbotron">
  <h1>Animal Hero</h1>
  <p>
    Sua pagina para ajudar os animais de ruas, cadastre sua <strong>ONG</strong> jรก!
  </p>
  <p>
    <%= link_to 'Crie sua Conta', new_user_path,:class =>"btn btn-primary btn-lg" %>
  </p>
</div>