<h1>Seja Bem vindo</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">CapiTaliZed text.</p>
<script>$.notify("Funcionou","Hello World");</script>
