<footer>
  <small>
    <%= link_to 'Animal Hero. Todos os direitos reservados.', root_path %>
  </small>

  <nav>
    <ul>
      <li>
        <%= link_to 'Sobre', '#' %>
      </li>
      <li>
          <a href="https://github.com/NathanSaldanha/animal_hero">GitHub</a>
      </li>
    </ul>
  </nav>
</footer>